@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
*{
  padding: 0;
  margin: 0;
  font-family: "Outfit", serif;
  
}
body{
  background-color: #F5F5F5;
}
a{
  text-decoration: none;
  color: inherit;
  line-height: 1;
  cursor: pointer;
}
.container{
  padding-left: 2%;
  padding-right: 2%;
}
.btn{
  background-color: #fff;
  cursor: pointer;
  border: 0;
  border-radius: 30px;
  color: #212121;
  font-size: 16px;
  padding: 14px 25px;
  outline: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.btn img{
  width :20px;
  margin-left: 10px ;
}